# --- Virtual Environment ---
env/
venv/

# --- Python Cache ---
__pycache__/
*.pyc

# --- Dataset & Video Mentah (Lama & Baru) ---
dataset_statis_224/
dataset_prime_224/
Dataset_Mentah_Primer/

# --- Folder Testing (Semua format video) ---
Testing/**/*.mp4
Testing/**/*.avi
Testing/**/*.mov
Testing/**/*.MOV

# --- File Kompresi / ZIP ---
*.zip
*.rar
*.gz

# --- Model AI / Keras Weights ---
*.h5